/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #fff;
  --destaque: #0077ff; 
  --destaque-inverso: #66bbff;
  --fundo-card: #fff; 

}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);

}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex; /*Utilizou para deixar flexivel*/
  justify-content: flex-end; /*Mudou a posição para o final da página*/
  align-content: center; /*E deixou o conteudo centralizado no eixo vertical (cross axis)*/
}

#menu ul {
  list-style: none; /*Tira as bolinhas do link*/
  display: flex; /*Deixou ele flexivel, logo, ficou um do lado do outro*/
  gap: 10px; /*Distancia entre eles de 10px (grid layout)*/
}


/*link*/
nav#menu a {
  text-decoration: none; /*Tirou o sublinhado*/
  color: var(--texto-inverso);
  font-weight: 600; /*Tamanho da fonte*/
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; /*Tempo de transiçção ao mudar ao passar o mouse em cima*/
}

/*Animação do link*/
nav#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}